---
- descriptor: "pip-services:logger:console:default:1.0"
  level: "trace"

- descriptor: "pip-services-dummies:service:default:default:1.0"

# In controller mode uncomment one of next dependencies
#- descriptor: "pip-services-dummies:controller:awslambda:default:1.0"
#- descriptor: "pip-services-dummies:controller:commandable-awslambda:1.0"
